/* Variables */
:root {
    --header-grey: #121212;
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
    --text-blue: #5595E7;
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --light-dark-color: #292929;

    --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-black);
    max-width: 100%;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 0.15rem;
  
  color: var(--textColor);

}

/* Utils */
.content-wrapper {
  max-width: 1280px;
  width:60%;
  margin: 0 auto;
}

h3{

  color:white;
  
  margin-bottom: 35px;
  font-size:1.8rem;
  letter-spacing: 0.15rem;
}

#text-center h3 {

  color:black;
  text-align: center;
  margin-bottom: 35px;
  font-size:1.8rem;
  letter-spacing: 0.15rem;
  font-weight: 500;

}


 

/* Header */
.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .img-logo{
    width: 150px;
    background-color: yellow;
    border-radius: 1px;
}

.header form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header input {
  width: 60%;
  padding: 1rem;
  border-radius: 2rem 0 0 2rem;
  border: none;
}


.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 8rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
    letter-spacing: 0.25rem;
}



/* Carousel */
.carousel {
    margin: auto;
    margin-top: 4rem;
    width: 60%;
    aspect-ratio: 3/2;;
    position: relative;
    background-color: var(--primary-grey);
    padding: 2rem;
    border-radius: 1rem;
}
.carousel__slide {
    position: absolute;
    margin: auto;
    width: 80%;
    inset: 0;
    visibility: hidden;
    aspect-ratio: 3/2;
    transition: 200ms visibility ease-in-out;
}

.carousel__slide[data-active] {
    visibility: visible;
}

.carousel__slide iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__btn {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text-yellow);
    background: none;
    border: none;
}

.carousel__btn:hover,
.carousel__btn:focus {
    color: var(--primary-white);
}

.carousel__btn.prev {
    left: 1rem;
}

.carousel__btn.next {
    right: 1rem;
}

/* Här skriver ni er CSS */
.popular__card-container{
    
    width:100%;
    height: auto;
    background-color: var(--primary-grey);
    margin:0 auto;
    margin-top:2rem;
   
}

.popular__title{

  font-size:2.5rem;
  font-weight: 400;
  text-align: center;
  color: white;
  padding-top:25px;
}

.popular__card-container img{

    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: var(--dark-shadow);
    flex-grow:1;
    height:280px;
    padding-left:20px;
    padding-bottom: 20px;
}

.popular__img-wrapper{

    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.popular__img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.error-handling{
  display: none;
  width: 400px;
  height: 500px;
  background-color: blue;
}

 
/* search List Movies */
.wrapper-cont-list{

  display:flex;
  justify-content: center;
  padding-top:40px;
}
.search-list{
 width:800px;
 height: 800px;
 background-color: transparent;

  
  
  overflow-y: scroll;
}

.search-list .search-list-item{

  background-color : var(--light-dark-color);
  padding: 0.5rem;
  border-bottom: 1px solid var(--dark-color);
  width: calc(350px- 8px);
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease;


}

.search-list .search-list-item:hover{

background-color: #1f1f1f;
}

.search-list-item{

  display: flex;
  align-items: center;
}

.search-item-thumbnail img{

  width: 40px;
  margin-right : 1rem;
}
.search-item-info h3{

  font-weight: 600;
  font-size: 1rem;
}

.serach-item-info p{

  font-size:0.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
  opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
  width: 8px;
}
/*Javascript class*/
.hide-search-list{
  display: none;
}

/* movie result */
.container{
 
 display:flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;

}

/* movie result */
.result-container{
  width: 1200px;
  height: 600px;
  background-color: var(--light-dark-color);
}
.result-grid{

  display:flex;
}
.movie-poster img{
  min-width: 300px;
  margin-left: 90px;
  margin-top: 60px;
  border: 4px solid #fff;
}

.movie-info{
  
  color: #fff;
  padding-top: 3rem;
  margin-left: 80px;
}

/* movie info stylings */
.movie-title{
  font-size: 2rem;
  color: var(--yellow-color);
}
.movie-misc-info{
  list-style-type: none;
  
  display: flex;
 
  
}
.movie-info .year{
  font-weight: 600;
  margin-bottom: 10px;
}
.movie-info .rated{
  background-color: var(--yellow-color);
 
  font-weight: 600;
}
.movie-info .released{
  font-size: 0.9rem;
  opacity: 0.9;
}
.movie-info .writer{
  margin-bottom: 10px;
}

.movie-info .actors{

  margin-bottom: 40px;
}
.movie-info .genre{
  background-color: var(--light-dark-color);
  margin-bottom: 10px;
}
.movie-info .plot{
  max-width: 400px;
  letter-spacing: 0.1rem;
 
}
.movie-info .language{
  color: var(--yellow-color);
  font-style: italic;
  margin-top: 10px;
}
.movie-info .awards{
  font-weight: 300;
  font-size: 0.9rem;
}
.movie-info .awards i{
  color: var(--yellow-color);
  
}

.cont-wrapper{

  width: 70%;
  margin: 0 auto;
}


@media screen and (min-width: 768px) {
   
  }



/* Media Queries */
@media screen and (min-width: 1380px) {
  .popular__img-container{
    
    grid-template-columns: 1fr,1fr,1fr,1fr;
    grid-auto-columns: 1fr;
   
}
   .content-wrapper {
    
    
      min-width: 1480px;
      
  
  }
}

@media screen and (max-width: 1100px) {
    
  .content-wrapper {
    max-width: 1480px;
  }
  .popular__img-container{

    grid-template-columns: 1fr,1fr,1fr,1fr;
    grid-auto-columns: 1fr;
}

}

@media screen and (max-width: 750px) {
   
  .result-grid{

    flex-direction: column;
  }
  
  .carousel{

    width: 98%;
  }

  .popular__img-container{

   
     
      flex-wrap:nowrap;
      flex-direction: column;
      
      
  
  }

  .popular__card-container img{

    width: 100%;
    height: auto;
    border-radius: 1px;
    box-shadow: var(--dark-shadow);
    flex-grow:1;
    height:500px;
    padding:0px;
    margin-bottom:10px;
  }
.popular__card-container{

  width:100%;
  margin:0;
  padding: 0;
}
.content-wrapper {
  
  width:100%;
  margin: 0 auto;
}


.content-wrapper img{
   
  width: 100%;
  border-radius: 1px;

}
.wrapper-cont-list{

  width: 100%;
  padding:0;
  margin:0;
}

 

.header input{

  padding:0.3rem 2.8rem;
  border-radius:10px 0px 0px 10px;

  
}
.cont-wrapper{

  width:100%;
}

.movie-poster{

  width: 80%;
}

.movie-info{

  width:100%;
  margin:0;
  padding:0;
}
.container{

  height: 70vh;
}

.result-container{

  width: 80%;
  background-color: black;
}
.movie-poster img{

  margin:0;
  padding:0;
  
}
.movie-info{

  padding-top:1rem;
  padding-bottom:2.5rem;
}
.movie-title{

  font-size: 1.3rem;
}

.header .img-logo{
  display: none;
  width:70px;
}
.header__fav-btn{

  font-size:0.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-right: 15px;
}
.header__form-btn{

  width: 2.6rem;
}


}

/* End of  Media Queries */




  
  

  .content-wrapper img{
   
    width: 100%;
    border-radius: 20px;

  }



  

  .header form{

    margin-right:30px;
  }


.d-none{

  display:none;
}
.visible{
  display: block;
}  

.d-none-result{

  display: none;
}

footer{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: var(--header-grey);
    width: 100%;
    padding: 5rem;
    z-index: 999;
}
footer p{

  color: white;
  opacity: 0.8;
}